{% extends 'base.html' %}

{% block main %}
    <h1>Login to Graphia</h1>
    
    <form 
        action="/graphia/login?next={{next}}" 
        method="POST"
        hx-ext="response-targets"
        hx-post="/graphia/login?next={{next}}"
        hx-target-401="#error"
        hx-target-5*="#error"
        >
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        <input type="submit" value="Login" />
    </form>

    <p id="error" style="color: red;"></p>

    <p>Don't have an account? <a href="/graphia/register">Register</a></p>
{% endblock %}