{% extends 'base.html' %}

{% block main %}
    <h1>Hello, {{ rdb_user.username }}</h1>
    <h2>Welcome to Relania</h2>

    <br>

    <h3>Choose a character or <a href="/relania/c">create a new one</a></h3>
    <table>
        <tbody>
            {% for character in characters %}
                    <tr>
                        <td><a href="/relania/c/{{ character.id }}">{{ character.name }}</a></td>
                        <td>{{ character.class }}</td>
                    </tr>
                </a>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}